body {
    background-color: black;
  }
  
  .textWrapper {
    flex: display
  }
  
  .text {
    color: white;
    font-size: 100px;
    margin:0;
    font-family: 'Space Mono', monospace;
    user-select: none;
     text-transform: uppercase;
  }
  
  .text:hover {
    color: blue;
  }